@charset "UTF-8";
/* Media Queries para Responsividade */

/*typical Device Breakpoints
----------------------------
pequenas telas: max-width: 600px
telas médias: min-width 600px: and max-width: 992px
telas grandes: min-width 992px: and max-width: 1200px
telas extra grandes: min-width 1200px: max-width: 1800px
----------------------------
*/

 @media screen and (min-width: 600px) and (max-width: 992px) {

    body {
      background-image: linear-gradient(to bottom, #D8C1B0, #B78D6E );
    }

    section#login{
      width: 90vw;
    }
    section#login > div#image {
      float: left;
      width: 40% ;
      height: 100%;
    }
    section#login > div#formulario {
      float: right;
      width:60%;

    }

  }


 @media screen and (min-width: 992px) {
    body {
      background-image: linear-gradient(to bottom, #D8C1B0, #B78D6E );
    }

    section#login{
      width: 950px;

    }

    section#login > div#image{
      float: left;
      width: 50%;
      height: 100%;
    }

    section#login > div#formulario{
      float: right;
      width: 50%;

    }
  }